<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  
</head>
<body>
  Please Select your Mood
<a href="/quotes?name=1"><img src="Happy.jpg" alt="Smiley face" width="60" height="60"></a>
<a href="/quotes?name=2"><img src="Happy.jpg" alt="Sad face" width="60" height="60"></a>
<a href="/quotes?name=3"><img src="Happy.jpg" alt="Ok face" width="60" height="60"></a>
 
</body>
</html>