extends layout
block content
  h1= "How are you feeling today?"
  p
    a(href='/setdata?morale=2')
      img(src='images/happy.jpg')
    a(href='/setdata?morale=1')
      img(src='images/neutral-face.png')
    a(href='/setdata?morale=0')
      img(src='images/sad.jpg')
block universalfooter
  include universalfooter.pug
