extends layout
block content
  h1= "How are you feeling today?"
  p.image-stack
    a(href='/setdata?morale=2')
      img(src='images/happy.png')
    a(href='/setdata?morale=1')
      img(src='images/neutral.png')
    a(href='/setdata?morale=0')
      img(src='images/sad.png')
block universalfooter
  include universalfooter.pug
